<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dart 분석</title>
        <link rel="stylesheet" href="/company-tables.css"/>
    </head>
    <body>
        <%- include('../common_html/main_title') %>
        <div class="main-body">
            <%- include('../common_html/menu') %>
            <div class="main-content">
                <div class="sub-title-wrap">
                    <span class="sub-title">기업개황</span>
                </div>
                <div class="main-tables-wrap">
                    <%- include('../common_html/company_table') %>
                    <div class="disclosure-detail">
                        <% if (companyProfileData && companyProfileData.status === "000") { %>
                            <h3>공시 목록</h3>
                            <table border="1">
                                <tr>
                                    <th>정식명칭</th>
                                    <td><%= companyProfileData.corp_name %></td>
                                </tr>
                                <tr>
                                    <th>영문명칭</th>
                                    <td><%= companyProfileData.corp_name_eng %></td>
                                </tr>
                                <tr>
                                    <th>종목명</th>
                                    <td><%= companyProfileData.stock_name %></td>
                                </tr>
                                <tr>
                                    <th>종목코드</th>
                                    <td><%= companyProfileData.stock_code %></td>
                                </tr>
                                <tr>
                                    <th>대표자명</th>
                                    <td><%= companyProfileData.ceo_nm %></td>
                                </tr>
                                <tr>
                                    <th>법인구분</th>
                                    <td><%= companyProfileData.corp_cls %></td>
                                </tr>
                                <tr>
                                    <th>법인등록번호</th>
                                    <td><%= companyProfileData.jurir_no %></td>
                                </tr>
                                <tr>
                                    <th>사업자등록번호</th>
                                    <td><%= companyProfileData.bizr_no %></td>
                                </tr>
                                <tr>
                                    <th>주소</th>
                                    <td><%= companyProfileData.adres %></td>
                                </tr>
                                <tr>
                                    <th>홈페이지</th>
                                    <td><a href="<%= companyProfileData.hm_url %>"><%= companyProfileData.hm_url %></a></td>
                                </tr>
                                <tr>
                                    <th>IR홈페이지</th>
                                    <td><a href="<%= companyProfileData.ir_url %>"><%= companyProfileData.ir_url %></a></td>
                                </tr>
                                <tr>
                                    <th>전화번호</th>
                                    <td><%= companyProfileData.phn_no %></td>
                                </tr>
                                <tr>
                                    <th>팩스번호</th>
                                    <td><%= companyProfileData.fax_no %></td>
                                </tr>
                                <tr>
                                    <th>업종코드</th>
                                    <td><%= companyProfileData.induty_code %></td>
                                </tr>
                                <tr>
                                    <th>설립일</th>
                                    <td><%= companyProfileData.est_dt %></td>
                                </tr>
                                <tr>
                                    <th>결산월</th>
                                    <td><%= companyProfileData.acc_mt %></td>
                                </tr>
                            </table>
                        <% } else if (companyProfileData) { %>
                            <p>데이터 없음: <%= companyProfileData.message %></p>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>