<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dart 분석</title>
        <link rel="stylesheet" href="/main.css"/>
    </head>
    <body>
        <%- include('../common_html/main_title') %>
        <div class="main-body">
            <%- include('../common_html/menu') %>
            <div class="main-content">
                <div class="company-list">
                    <input type="text" id="searchInput" placeholder="회사명 검색">
                        <table id="companyTable" class="company-table" border='1'>
                            <thead >
                                <tr>
                                    <th>종목코드</th>
                                    <th>고유코드</th>
                                    <th>회사명</th>
                                    <th>사업보고서 바로가기</th>
                                    <th>경실련 업종</th>
                                    <th>업종</th>
                                    <th>주요제품</th>
                                    <th>대표자명</th>
                                    <th>홈페이지</th>
                                    <th>지역</th>
                                </tr>
                            </thead>
                            <% companies.forEach(function(company) { %>
                            <tbody>
                                <tr>
                                    <td><%= company.company_code %></td>
                                    <td><%= company.primary_code %></td>
                                    <td><a href="/registration/stock-transfer/<%= company.primary_code %>"> <%= company.company_name %> </a></td>
                                    <td><a href="<%= company.company_report_url %>"><%= company.company_report_url %></a></td>
                                    <td><%= company.category %></td>
                                    <td><%= company.sector %></td>
                                    <td><%= company.main_product %></td>
                                    <td><%= company.ceo_name %></td>    
                                    <td><a href="<%= company.company_url %>"><%= company.company_url %></a></td>
                                    <td><%= company.location %></td>
                                </tr>                       
                            </tbody>
                            <% }) %>
                        </table>
                </div>
                <script>
                    document.getElementById("searchInput").addEventListener("keyup", function() {
                    let filter = this.value.toLowerCase();
                    let rows = document.querySelectorAll("#companyTable tbody tr");

                    rows.forEach(function(row) {
                        let companyName = row.cells[2].innerText.toLowerCase(); // 3번째 열: 회사명
                        if (companyName.indexOf(filter) > -1) {
                        row.style.display = "";
                        } else {
                        row.style.display = "none";
                        }
                    });
                    });
                </script>
                <div class="equity-security">
                    <% 
                    const columnMap = {
                        rcept_no: "접수번호",
                        corp_cls: "법인구분",
                        corp_code: "고유번호",
                        corp_name: "회사명",
                        sbd: "청약기일",
                        pymd: "납입기일",
                        sband: "청약공고일",
                        asand: "배정공고일",
                        asstd: "배정기준일",
                        exstk: "신주인수권에 관한 사항(행사가격)",
                        exprc: "신주인수권에 관한 사항(행사기간)",
                        rpt_rcpn: "주요사항보고서(접수번호)",
                        stksen: "증권의종류",
                        stkcnt: "증권수량",
                        fv: "액면가액",
                        slprc: "모집(매출)가액",
                        slta: "모집(매출)총액",
                        slmthn: "모집(매출)방법",
                        actsen: "인수인구분",
                        actnmn: "인수인명",
                        udtcnt: "인수수량",
                        udtamt: "인수금액",
                        udtprc: "인수대가",
                        udtmth: "인수방법",
                        hdr: "보유자",
                        rl_cmp: "회사와의관계",
                        bfsl_hdstk: "매출전보유증권수",
                        slstk: "매출증권수",
                        atsl_hdstk: "매출후보유증권수",
                        grtrs: "부여사유",
                        exavivr: "행사가능 투자자",
                        grtcnt: "부여수량",
                        expd: "행사기간",
                        exprc: "행사가격"
                    }; 
                    %>
                        
                    <% if (companyStockData && companyStockData.status === "000") { %>
                        <% companyStockData.group.forEach(function(grp) { %>
                            <h3><%= grp.title %></h3>
                            <table border="1">
                            <thead>
                                <tr>
                                <% Object.keys(grp.list[0]).forEach(function(key) { %>
                                    <th><%= columnMap[key] || key %></th>
                                <% }) %>
                                </tr>
                            </thead>
                            <tbody>
                                <% grp.list.forEach(function(item) { %>
                                <tr>
                                    <% Object.keys(item).forEach(function(key) { %>
                                    <td><%= item[key] %></td>
                                    <% }) %>
                                </tr>
                                <% }) %>
                            </tbody>
                            </table>
                        <% }) %>
                    <% } else if (companyStockData) { %>
                            <p>데이터 없음: <%= companyStockData.message %></p>
                    <% } %>
                </div>
            </div>

        </div>
    </body>
</html>